<div class="p-5 bg-light" style="background: gr; background: radial-gradient(#fff, #ffd6d6)">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://pngimg.com/uploads/watches/watches_PNG101443.png" alt="Trendy Pants and Shoes" class="img-fluid rounded-start">
        </div>

        <div class="col-md-8">
            <h1 class="mb-3 m-5">Smart Band 3</h1>
            <h4 class="mb-3 m-5">
                The MI Smart Band 3 features a 39.9% larger (than MI Band 2) AMOLED color full-touch display with adjustable brightness, So everything is clear as can be.

            </h4>

            <!--<a class="btn btn-primary m-5" href="/" role="button">
            <font color="black">Buy Now
            </font>
            </a>-->

            <input class="win7-btn" type="button" value="Buy Now" style="position: absolute;left: 70px" onclick="myFunction()" />


            </a>
            </a>
        </div>
    </div>
</div>