<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/img/77.png" alt="logo" class="mr-2" width="250" height="75">
    <!--<img src="https://img.icons8.com/external-wanicon-flat-wanicon/100/000000/external-football-ball-football-and-soccer-wanicon-flat-wanicon.png" alt="logo" class="mr-2" width="50" height="75">-->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">

        <ul class="nav nav-pills">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  All Sports  </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/basketball">Basketball</a></li>
                        <li><a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/Baseball">Baseball</a></li>

                        <li><a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/Football">Football</a></li>
                        <li><a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/cricket">Cricket</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Men</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/top">Men's Top</a>
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/MFooter">Men's Footwear</a>
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/MBottom">Men's Bottom</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Woman</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/womentop">Women's Top</a>
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/WFooter">Women's Footwear</a>
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/WBottom">Women's Bottom</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kids</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/bike">Kid's Bike</a>
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/KidsTop">Kid's Tops</a>
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/KidsScooter">Kid's Skooter Skates </a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://sportsonlineorder.herokuapp.com/accessories ">Accesories</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Experience</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://sportsonlineorder.herokuapp.com/learn">Learn More</a>

                    </div>

                    <li class="nav-item">
                        <a class="nav-link" href="https://sportsonlineorder.herokuapp.com/index1">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://sportsonlineorder.herokuapp.com/form">Login</a>
                    </li>


    </div>
    <!-- navbar-collapse.// -->
</nav>
